

:root{

    --imgSize : calc(1vw + 1vh);

}

.container{

    background-color: #141414;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.imageWrapper{

    display: flex;
    margin: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;

}

.imgRow{

    opacity: 0;
    transform-origin: bottom;
    transition-delay: 0.8s;
    transition-duration: 1s;

}


.imageItem{

    border-radius: 15px;
    margin: auto;
    width: calc(var(--imgSize) * 10);
    height: calc(var(--imgSize) * 15);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: width 1s, height 1s;

}

.paragraph{

    color: #fff;
}

.title{
    color: #fff;
    font-family: Ubuntu;

}

.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    gap: calc(var(--imgSize) * 0.8);
    transition: gap 1s 0.5s;
}


.textContainer{

    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #141414, #141414bb, #14141400);
    opacity: 0;
    height:inherit;
    justify-content: flex-end;
    border-radius: 15px;
    padding-bottom:10px;
    padding-left: 20px;
    transition: opacity 0.1s;
    text-align: left;

}


.imageItem:hover .textContainer{

    opacity: 1;

}

.imageItem:hover .textContainer .imgRow{

    opacity: 1;

}


.imageItem:hover{

    width: calc(var(--imgSize) * 15);
    height: calc(var(--imgSize) * 17);
    animation: elastic-animation 1s alternate;
}

.imageContainer:has(.imageItem:hover){

    gap: calc(var(--imgSize) * 1.5);
    
    
}


@keyframes elastic-animation {
    0% {
        transform: scaleX(1);
    }
    
    50% {
        transform: scaleX(1.1);
    }
   
    100% {
        transform: scaleX(1);
    }
}